﻿@{ Layout = "../Shared/_Layout.Phone.cshtml"; }
@{ ViewBag.Title = "Phone Home Page"; }

<h1>Accordian</h1>
<div data-role="collapsible-set"> 
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 1 Title</h2>
    Section 1 Content
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 2 Title</h2>
    Section 2 Content
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 3 Title</h2>
    Section 3 Content
  </div>
</div>

<h1>Collapsible Containers</h1>
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 1 Title</h2>
    Section 1 Content
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 2 Title</h2>
    Section 2 Content
</div>
  <div data-role="collapsible" data-collapsed="true">
    <h2>Section 3 Title</h2>
    Section 3 Content
</div>
