﻿@model Chapter8_HTML5.Models.SampleModel

@{ 
   Layout = "../Shared/_Layout.Tablet.cshtml"; 
   ViewBag.Title = "Home Page";
}
Phone Number:
@Html.EditorFor(m => m.Phone)

<hr />
Date:
@Html.EditorFor(m => m.ContactDate)

<hr />
DateTime:
@Html.EditorFor(m => m.ContactDateTime, "DateTime")

<hr />
Month:
@Html.EditorFor(m => m.ContactDateTime, "Month")

<hr />
Search:
@Html.EditorFor(m => m.SearchTxt, "Search")

<hr />
Search Placeholder:
@Html.TextBoxFor(m => m.SearchTxt, new { type= "search", placeholder = "enter search terms" })

<hr />
Email:
@Html.EditorFor(m => m.EmailAddr, "EmailAddress")

<hr />
WebSite:
@Html.EditorFor(m => m.WebSite, "Url")